
/* Quicktabs - Sky theme style
 * http://drupal.org/project/sky
 */

.quicktabs_main.quicktabs-style-sky {
  border: 1px solid #eee;
  clear: both;
  padding: 10px 5px 0 5px;
  position: relative;
  top: -0.1em;
  background: #fff;
}

ul.quicktabs-tabs.quicktabs-style-sky {
  margin: 0;
  padding: 0;
  width: 100%;

}

ul.quicktabs-tabs.quicktabs-style-sky li {
  float: left;
  font-weight: normal;
  list-style: none;
  margin: 0.3em 0 0 0;
  height: 2.65em;
  min-height: 2.95em;
  padding: 0;
}

ul.quicktabs-tabs.quicktabs-style-sky li.active {
  /*margin: -0.2em 0 0 0;*/
}

ul.quicktabs-tabs.quicktabs-style-sky li a,
ul.quicktabs-tabs.quicktabs-style-sky li a:visited {
  float: left;
  display: block;
  height: 2.65em;
  /*min-height: 2.95em;*/
  min-height: 2.65em;
  line-height: 2.95em;
  /*padding: 0 8px;*/
  padding: 0 39px;
  text-decoration: none;
  /*border-right: 1px solid #eee;*/
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-color: #000000;

  /*border-top: 1px solid #eee;*/
  /*font-size: .95em;*/
  font-size: 15px;
  font-weight: bold;
  background: #fff url('images/bg-shade-light.png') repeat-x bottom left;
  color: #000000;
  position: relative;
  bottom:10px;
}


/* STARTS Just for Firefox */

@-moz-document url-prefix() {
	ul.quicktabs-tabs.quicktabs-style-sky li a,
	ul.quicktabs-tabs.quicktabs-style-sky li a:visited {
	  padding: 0 38px;
	}	
}

/* ENDS Just for Firefox */



ul.quicktabs-tabs.quicktabs-style-sky li a:hover,
ul.quicktabs-tabs.quicktabs-style-sky li.active a:hover {
  text-decoration: none;
  /*border-color: #B3B3B3;*/
  /*border-color: #fff;*/
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-color: #000000;

  /*background: #B3B3B3 url('images/bg-shade-medium.png') repeat-x bottom left;*/
  background: #fff url('images/bg-shade-medium.png') repeat-x bottom left;
  color: #000000;
}

ul.quicktabs-tabs.quicktabs-style-sky li.active a,
ul.quicktabs-tabs.quicktabs-style-sky li.active a:visited {
  /*height: 3.05em;
  min-height: 3.35em;
  line-height: 3.35em;*/

  height: 2.65em;
  /*min-height: 2.95em;*/
  min-height: 2.65em;
  line-height: 2.95em;

  font-weight: normal;
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-color: #000000;

  /*background: #858585 url('images/bg-shade-dark.png') repeat-x bottom left;*/
  background: #fff url('images/bg-shade-dark.png') repeat-x bottom left;
  color: #000000;
  /*font-size: .95em;
  font-weight: normal;*/
  font-size: 15px;
  font-weight: bold;

  /*top: -0.025em;*/
}

ul.quicktabs-tabs.quicktabs-style-sky li:first-child a {
  /*border-left: solid 1px #eee;*/
}

ul.quicktabs-tabs.quicktabs-style-sky li.active a {
  /*border-left: solid 1px #777;*/
}

ul.quicktabs-tabs.quicktabs-style-sky li a:focus,
ul.quicktabs-tabs.quicktabs-style-sky li a:active {
  outline: none;
  
}

/* Opera */
@media all and (min-width: 0px) {
  body .quicktabs_main.quicktabs-style-sky {
    top: -0.2em;
  }
}

